// $lg-desktop: 1440px;
// $desktop: 1200px;
// $lg-tablet: 1024px;
// $tablet: 768px;
// $phone: 575px;

// $font-size-large: 18px;
$font-size-default: 16px;
// $font-size-small: 14px;

$font-text-basic: "Raleway", "sans-serif";
// $font-text-accent: "Press Start 2P", "cursive";

$color-text-default: #000;
// $color-text-primary: #fff;
// $color-text-secondary: #373737;
$color-text-accent: #17ae51;

$color-background-default: #fff;
// $color-background-primary: #fff;
// $color-background-secondary: #373737;
// $color-background-accent: #d75347;
